In [25]:
import pymysql
import pandas as pd

In [39]:
conn = pymysql.connect(
    host = 'dbrsnterraform.cnkpueddrag0.eu-west-1.rds.amazonaws.com',
    port = int(3306),
    user = 'admin',
    passwd = 'romainsafanori',
    db = 'metros',
    
)

predict_disruptions = 'predict_disruption'
predict_duration = 'predict_duration'
predict_priority = 'predict_priority'
predict_cause = 'predict_cause'

In [48]:
cursor = conn.cursor()
# response = cursor.execute(request)

# IMPORTING DATASETS

In [59]:
disrupt = pd.read_sql(f"select * from {predict_disruptions};", con=conn)
disrupt

,is_disrupted,year,month,day,hour,minute,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0,2012,1,1,14,27,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,2012,1,2,7,41,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,2012,1,3,4,27,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,1,2012,1,4,15,6,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,2012,1,5,8,34,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3645,0,2021,12,27,10,24,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3646,1,2021,12,28,13,8,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3647,0,2021,12,29,18,40,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3648,0,2021,12,30,6,34,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3649,0,2021,12,31,10,53,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [60]:
duration= pd.read_sql(f"select * from {predict_duration};", con=conn)
duration

,year,month,day,hour,minute,duration,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,2012,1,4,15,6,887,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,2012,1,7,22,22,140,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,2012,1,8,2,11,47,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2012,1,13,19,8,145,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,2012,1,14,14,14,730,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1811,2021,12,23,13,1,111,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1812,2021,12,24,7,5,99,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1813,2021,12,25,15,9,91,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1814,2021,12,26,6,10,1037,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1815,2021,12,28,13,8,1053,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [94]:
priority = pd.read_sql(f"select * from {predict_priority};", con=conn)
priority

,year,month,day,hour,minute,duration,1,2,3,4,...,6,7,8,9,10,11,12,13,14,priority
0,2012,1,4,15,6,887,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2012,1,7,22,22,140,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2012,1,8,2,11,47,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2012,1,13,19,8,145,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2012,1,14,14,14,730,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1811,2021,12,23,13,1,111,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1812,2021,12,24,7,5,99,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1813,2021,12,25,15,9,91,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1814,2021,12,26,6,10,1037,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1815,2021,12,28,13,8,1053,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [62]:
cause = pd.read_sql(f"select * from {predict_cause};", con=conn)
cause

,year,month,day,hour,minute,duration,1,2,3,4,...,9,10,11,12,13,14,bloquant,perturbation,information,cause
0,2012,1,4,15,6,887,0,0,0,0,...,0,0,0,0,1,0,1,0,0,Travaux
1,2012,1,7,22,22,140,0,0,0,0,...,0,0,0,1,0,0,0,1,0,Incidents d'exploitation
2,2012,1,8,2,11,47,1,0,0,0,...,0,0,0,0,0,0,0,1,0,Baggage abandonnÃ©
3,2012,1,13,19,8,145,0,0,1,0,...,0,0,0,0,0,0,0,1,0,Incident technique
4,2012,1,14,14,14,730,0,0,0,0,...,0,1,0,0,0,0,1,0,0,Incident technique
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1811,2021,12,23,13,1,111,0,0,0,0,...,0,0,0,0,0,0,0,1,0,Baggage abandonnÃ©
1812,2021,12,24,7,5,99,0,0,0,0,...,0,0,0,0,0,0,0,1,0,Baggage abandonnÃ©
1813,2021,12,25,15,9,91,0,0,1,0,...,0,0,0,0,0,0,0,1,0,Baggage abandonnÃ©
1814,2021,12,26,6,10,1037,0,0,0,0,...,0,0,0,0,1,0,1,0,0,Incident technique
1815,2021,12,28,13,8,1053,0,0,0,0,...,0,1,0,0,0,0,1,0,0,Travaux

# UPLOADING TO S3

In [75]:
disrupt.to_csv('disrupt.csv', index=False, header=True, sep=',')
duration.to_csv('duration.csv', index=False, header=True, sep=',')
priority.to_csv('priority.csv', index=False, header=True, sep=',')
cause.to_csv('cause.csv', index=False, header=True, sep=',')

In [76]:
import sagemaker

prefix = f'sagemaker/input'
session = sagemaker.Session()

disrupt_uri = session.upload_data(path='disrupt.csv', key_prefix=prefix)
duration_uri = session.upload_data(path='duration.csv', key_prefix=prefix)
priority_uri = session.upload_data(path='priority.csv', key_prefix=prefix)
cause_uri = session.upload_data(path='cause.csv', key_prefix=prefix)

In [77]:
print(disrupt_uri)
print(duration_uri)
print(priority_uri)
print(cause_uri)

s3://sagemaker-eu-west-1-209711697803/sagemaker/input/disrupt.csv
s3://sagemaker-eu-west-1-209711697803/sagemaker/input/duration.csv
s3://sagemaker-eu-west-1-209711697803/sagemaker/input/priority.csv
s3://sagemaker-eu-west-1-209711697803/sagemaker/input/cause.csv